* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
  --accent: #FF6565;
  --bg-dark: #071827;
  --white: #fff;
  --max-width: 1000px;
  --transition: 0.25s ease;
}

html {
    scroll-behavior: smooth;
}

.brand-logo {
    height: 40px;
    width: auto;
}

/* FONTS DECLARATION */
@font-face {
  font-family: 'source-sans-pro';
  src: url('/fonts/source-sans-pro/SourceSansPro-Regular.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'source-sans-pro-light';
  src: url('/fonts/source-sans-pro/SourceSansPro-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'source-sans-pro-bold';
  src: url('/fonts/source-sans-pro/SourceSansPro-Bold.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'source-sans-pro-italic';
  src: url('/fonts/source-sans-pro/SourceSansPro-It.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'spincycle-ot';
  src: url('/fonts/Spin-Cycle-OT/spincycle_ot.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

/* HERO SECTION */
header {
    background: url('/headphones/assets/images/headphones_hero_1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

nav {
    max-width: var(--max-width);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1rem;
}

/* nav img {
    
} */

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem
}

nav ul li a {
    font-family: 'source-sans-pro', sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
    transition: color var(--transition);
}

nav ul li a:hover {
    color: var(--accent)
}

/* MOBILE NAV STARTS*/

/* MOBILE NAV ENDS */

header .hero-heading {
    max-width: var(--max-width);
    width: 40%;
    align-items: center;
    text-align: center;
    color: var(--white);
    font-family: 'source-sans-pro', sans-serif;
    margin-bottom: 5rem;
}

.hero-heading .main-heading {
    margin-bottom: 2rem;
}

.hero-heading .main-heading h1 {
    font-size: 2rem;
    font-family: 'source-sans-pro-bold', sans-serif;
    font-weight: 500;
}

.hero-heading .main-heading p {
    font-family: 'source-sans-pro', sans-serif;
    font-weight: 300;
}

button {
    padding: 0.75rem 1.5rem;
    background-color: var(--accent);
    color: var(--white);
    border: none;
    border-radius: 100px;
    margin-top: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0.5, 0, 0.1);
    cursor: pointer;
}

button:hover {
    background-color: var(--bg-dark);
    transition: var(--transition);
}

.hero-heading .heading-subtext {
    font-family: 'source-sans-pro-light', sans-serif;
    line-height: 1.5rem;
}

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* WHAT WE DO SECTION */
main .what-we-do {
    max-width: var(--max-width);
    width: 100%;
    padding: 6rem 0;
    display: flex;
    gap: 4rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.what-we-do-heading {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
}

.what-we-do-heading h2,
.result-heading h2,
.contact h2 {
    font-family: 'source-sans-pro-Bold', sans-serif;
}

.what-we-do-heading p,
.result-heading p {
    font-family: 'source-sans-pro-light', sans-serif;
    line-height: 1.5rem;
}


.holberton_school-icon-ic_sound,
.holberton_school-icon-ic_video,
.holberton_school-icon-ic_music,
.holberton_school-icon-ic_hearing {
    font-family: 'holberton_school-icons' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-size: 5rem;
    text-transform: none;
    color: var(--accent);
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.holberton_school-icon-ic_sound:before {
    content: "\e90e";
}

.holberton_school-icon-ic_video:before {
    content: "\e910";
}

.holberton_school-icon-ic_music:before {
    content: "\e911";
}

.holberton_school-icon-ic_hearing:before {
    content: "\e90d";
}

.what-we-do-cards {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
}

.what-we-do-cardItems {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.5rem;
}

.what-we-do-cardItems h3,
.result-cardItems h3 {
    font-family: 'source-sans-pro-bold', sans-serif;
}

.what-we-do-cardItems p,
.result-cardItems p {
    font-family: 'source-sans-pro-light', sans-serif;
}

/* RESULT SECTION */
.result {
    background: url('/headphones/assets/images/headphones_hero_2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 6rem 0;
    display: flex;
    gap: 4rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    width: 100%;
}

.result-heading {
    max-width:  var(--max-width);
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
}

.result-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    max-width: var(--max-width);
    width: 100%;
}

.result-cardItems {
    background: url('/headphones/assets/images/pentagone.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    gap: .5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3rem 2rem;
}

.result-cardItems h3 {
    font-family: 'source-sans-pro-bold', sans-serif;
    font-size: 2.5rem;
}

.result-cardItems p {
    font-family: 'source-sans-pro-light', sans-serif;
    font-size: 1rem;
}

/* CONTACT */
.contact {
    max-width: var(--max-width);
    width: 100%;
    padding: 6rem 0;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 30%;
}

input {
    padding: 0.75rem 0;
    border-bottom: 2px solid rgb(170, 170, 170);
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    font-family: 'source-sans-pro', sans-serif;
}

input::placeholder {
    font-family: 'source-sans-pro', sans-serif;
    color: var(--bg-dark);
}


/* FOOTER */
footer {
    background-color: var(--bg-dark);
    padding-top: 6rem;
    padding-bottom: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    gap: 4rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    width: 100%;
}

.footer-branding-social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-width);
    width: 100%;
}

.footer-branding-social ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.footer-branding-social ul li {
    list-style: none;
}

.footer-branding-social ul li a {
   text-decoration: none;
   color: var(--white);
   font-size: 1.5rem;
}

footer p {
    font-family: 'source-sans-pro-light', sans-serif;
    color: rgb(170, 170, 170);
    opacity: .5;
}

.footer-branding-social ul li a:hover {
   color: var(--accent);
   transition: var(--transition);
}

.holberton_school-icon-ic_facebook:before {
    content: "\e908";
}

.holberton_school-icon-ic_twitter:before {
    content: "\e90f";
}

.holberton_school-icon-ic_instagram:before {
    content: "\e90a";
}


/* ========================== */
        /* MEDIA QUERY */
/* ========================== */

@media (max-width: 1340px) {
    header .hero-heading {
        width: 50%;
    }
}

@media (max-width: 768px) {
    header .hero-heading {
        width: 80%;
    }

    .what-we-do-heading,
    .result-heading {
        width: 70%;
    }

    .what-we-do-cards,
    .result-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        place-items: center;
    }

    .what-we-do-cardItems {
        width: 200px;
    }

    form {
        width: 50%;
    }
}

@media (max-width: 480px) {
    header nav {
        display: none;
    }

    .mobile-nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1rem;
        align-items: center;
        gap: 2rem;
    }

    .mobile-nav-links {
        display: none;
    }

    .mobile-nav-links.show{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        list-style: none;
    }

    .mobile-nav ul li a{
        text-decoration: none;
        font-family: 'source-sans-pro', sans-serif;
        font-size: 1.2rem;
        color: var(--white);
    }

    .mobile-nav ul li a:hover {
        color: var(--accent);
    }

    .header-logo-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
       
    }

    .holberton_school-icon-ic-menu {
        font-family: 'holberton_school-icons' !important;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        font-size: 2rem;
        text-transform: none;
        color: var(--white);
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .icon-close1 {
        font-family: 'icomoon' !important;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        font-size: 2rem;
        text-transform: none;
        color: var(--white);
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .icon-close1:before {
        content: "\e902";
    }

    .holberton_school-icon-ic-menu:before {
        content: "\e911"
    }


    header .hero-heading {
        width: 90%;
        margin-bottom: 2rem;
    }

    .what-we-do-heading,
    .result-heading {
        width: 90%;
    }

    .what-we-do-cards,
    .result-cards {
        grid-template-columns: 1fr;
    }

    form {
        width: 90%;
    }

    .footer-branding-social {
        flex-direction: column;
        gap: 2rem;
    }
}